@model ContractModel

@{
    ViewBag.Title = "Create";
    const string createContractFormId = "create-contract-form";
}

@using HR.Contracts.Shared.Enums;
@using HR.Contracts.WebUI.Extensions;
@using HR.Contracts.WebUI.Models;
@using HR.Contracts.WebUI.Resources;

<h2>Create</h2>

@using (Html.BeginForm("Create", "Contract", FormMethod.Post, new { id = createContractFormId }))
{
    <script type="text/html" data-bind="object: urls">
        {
            "salaryCalculateUrl": "@Url.Action("Calculate", "Salary")"
        }
    </script>
    
    @Html.AntiForgeryToken()
    
    <div class="row">
        <div class="col-sm-6">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Name)<br />
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="col-sm-6">
            @Html.DropDownListFor(model => model.Type, ContractType.Developer.ToSelectList(new SelectListOptions { SelectChosenValue = false }), Labels.SelectContractType, new { data_bind = "value: type" })<br />
            @Html.ValidationMessageFor(model => model.Type)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            @Html.LabelFor(model => model.Experience)
        </div>
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Experience, new { data_bind = "textInput: experience" })<br />
            @Html.ValidationMessageFor(model => model.Experience)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            @Html.LabelFor(model => model.Salary)
        </div>
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Salary, new { data_bind = "value: salary" })<br />
            @Html.ValidationMessageFor(model => model.Salary)
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="@Labels.Create" />
}

<script type="text/javascript" src="~/Scripts/Models/Contract.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var e = document.getElementById("@createContractFormId");
        if (e) {
            var vm = new HR.Contracts.Contract();
            ko.applyBindings(vm, e);
        }
    });
</script>

