@model HR.Contracts.WebUI.Models.ContractListViewModel

@using HR.Contracts.WebUI.Resources;
@using HR.Contracts.WebUI.Extensions;
@using System.Globalization;

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table class="table table-striped">
    <thead>
        <th>@Labels.ContractName</th>
        <th>@Labels.ContractType</th>
        <th>@Labels.ContractExperience</th>
        <th>@Labels.ContractSalary</th>
    </thead>
    <tbody>
        @foreach (var contract in Model.Contracts)
        {
            <tr>
                <td>@contract.Name</td>
                <td>@contract.Type</td>
                <td>@contract.Experience</td>
                <td>@contract.Salary.ToString("C", CultureInfo.CreateSpecificCulture("pl-PL"))</td>
            </tr>            
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>

<div class="text-center">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>